a {
    text-decoration: none;
}

.min-w-320px {
    min-width: 320px;
}

.w-50 {
    width: 50%;
}

.header-notifications__dropdown {
    padding: 15px 26px;
    position: relative;
    cursor: pointer;
}

.header-notifications__dropdown .translate-middle {
    transform: translate(-100%,0%) !important;
}

.header-notifications__badge {
    position: absolute;
    top: 0px;
    right: 13px;
    padding: 0px 6px;
    border-radius: 50%;
    background: #e41e3f;
    color: white;
}

.header-notifications__header h6 {
    color: #495057;
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
}

.header-notifications__header a {
    font-size: 10.4px;
    color: #556ee6;
    line-height: 19.19px;
}

.notifications__user-photo {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.25s linear;
}

.notifications__item {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #EEEEEE;
}

.notifications__item--read .notifications__badge {
    opacity: 0;
}

.notifications__item:last-of-type {
    padding: 0.75rem 1rem;
    border-bottom: none;
}

.notifications__item:hover {
    background-color: #f6f6f6;
}

.notifications__content {
    margin-left: 1rem;
    width: 70%;
}

.notifications__body {
    font-size: 14px;
    --bs-text-opacity: 1;
    color: #495057;
    margin-bottom: .5rem;
    transition: 0.25s linear;
}

.notifications__date-wrapper {
    color: #74788d;
    font-size: 12px;
}

.notifications__read-at {
    color: #556ee6;
}

.notifications__badge {
    height: 12px;
    width: 12px;
    border-radius: 10rem;
    margin-left: auto;
    align-self: center;
    transition: 0.25s linear;
    opacity: 1;
}

.card-notifications__list--loading {
    pointer-events: none;
}

.card-notifications__list--loading .notifications__user-photo {
    background-image: url('/images/notification-blank-user-photo.png') !important;
}

.card-notifications__list--loading .notifications__body {
    background-color: #F3F3F9 !important;
    color: #F3F3F9 !important;
    line-height: 1 !important;
    border-radius: 200px;
    width: 85%;
    display: block;
}

.card-notifications__list--loading .notifications__date-wrapper i,
.card-notifications__list--loading .notifications__date-wrapper .notifications__created-at {
    display: none;
}

.card-notifications__list--loading .notifications__date-wrapper .notifications__read-at {
    background-color: #F3F3F9 !important;
    color: #F3F3F9 !important;
    line-height: 1 !important;
    border-radius: 200px;
    display: block;
    width: 25%;
}


.card-notifications__list--loading .notifications__badge {
    opacity: 0;
}
