.min-w-320px {
    min-width: 320px;
}

.header-notifications__dropdown {
    padding: 15px 26px;
    position: relative;
    cursor: pointer;
}

.notifications__dropdown:hover {
    background: #e41e3f;
}

.header-notifications__badge {
    position: absolute;
    top: 0px;
    right: 13px;
    padding: 0px 6px;
    border-radius: 50%;
    background: #e41e3f;
    color: white;
}

.header-notifications__header h6 {
    color: #495057;
    margin: 0;
    font-weight: 500;
    line-height: 1.2;
}

.header-notifications__header a {
    font-size: 10.4px;
    color: #556ee6;
    line-height: 19.19px;
}

.notifications__user-photo {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.notifications__item {
    padding: 0.75rem 1rem;
}

.notifications__item:hover {
    background-color: #f6f6f6;
}

.notifications__content {
    margin-left: 1rem;
    max-width: 70%;
}

.notifications__body {
    font-size: 14px;
    --bs-text-opacity: 1;
    color: #495057;
    margin-bottom: .5rem;
}

.notifications__date-wrapper {
    color: #74788d;
    font-size: 12px;
}

.notifications__read-at {
    color: #556ee6;
}

.notifications__badge {
    height: 12px;
    width: 12px;
    background: #2e89ff;
    border-radius: 10rem;
    margin-left: auto;
    align-self: center;
}